* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Cabin', sans-serif;
}

.navbar {
    background-color: rgb(240, 225, 225);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 2px;
    gap: 20px;
    align-items: center;
    position: sticky;
    top: 5px;
    margin: 5px;
    z-index: 1;
}

.navbar__one__h1 {
    color: #A435F0;
    margin: 10px;
}

.navbar__two {
    padding: 10px;
    margin: 10px;
    border: black 1px solid;
    width: 60%;
    border-radius: 30px;

}

.navbar__two input {
    background-color: transparent;
    border: none;
    width: 80%;
    margin: 5px;
    font-size: 15px;
}

.navbar__two input:focus {
    outline: none;
}

.navbar__three {
    display: flex;
    gap: 10px;
    padding: 20px;
}

.mylearning {
    position: relative;
    cursor: pointer;
}

.mylearning:hover .mylearning__popup {
    display: block;
}

.mylearning__popup {
    width: 120px;
    border: black solid 1px;
    background-color: white;
    padding: 5px;
    margin: 6px;
    position: absolute;
    right: 0;
    display: none;
}


.category {
    display: flex;
    padding: 15px;
    border-bottom: solid black 2px;
    justify-content: space-between;
    border: 10px;

}
.category h5:hover{
    transition: 1s;
    background-color:transparent;
    color: #753f9a;
    cursor: pointer;
    border: solid #753f9a 1px;
}

.category h5 {
    background-color: #613181;
    border-radius: 20px;
    color: white;
    padding: 10px;
    font-size: 18px;
}

.sale__img img {
    width: 1340px;
    height: 400px;
}

.sale__img {
    position: relative;
}

.flashsale {
    position: absolute;
    top: 35%;
    width: 400px;
    border: black solid 1px;
    background-color: white;
    color: black;
    margin: 10px;
    padding: 25px;
    animation-name: zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes zoom{
    0%{transform: scale(0);
    opacity: 0;}
    100%{transform: scale(1);
    opacity: 1;}
}

.recommended {
    margin: 10px;
}

.recommended__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.course__card {
    width: 250px;
    padding: 10px;
}

.course__card img {
    width: 100%;
    height: 50%;
}

.course__card del {
    padding: 5px;
}

.topic {
    padding: 10px;
}

.topic__desc {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.topic__desc h5 {
    border: black solid 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular {
    padding: 10px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.footer {
    background-color: black;
    color: white;
}

.footer__title {
    display: flex;
    margin: 10px;
}

.footer__one,
.footer__two,
.footer__three {
    padding: 20px;
}

.footer__title h5 {
    margin: 20px;
}

.footer__desc {
    margin: 20px;
    padding: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}