* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Cabin', sans-serif;
}

.navbar {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 2px;
    gap: 20px;
    align-items: center;
}

.navbar__one__h1 {
    color: #A435F0;
    margin: 10px;
}

.navbar__two {
    padding: 10px;
    margin: 10px;
    border: black 1px solid;
    width: 60%;
    border-radius: 30px;
}

.navbar__two input {
    border: none;
    width: 80%;
    margin: 5px;
    font-size: 15px;
}

.navbar__two input:focus {
    outline: none;
}

.navbar__three {
    display: flex;
    gap: 10px;
    padding: 20px;
}

.category {
    display: flex;
    padding: 15px;
    border-bottom: solid black 2px;
    justify-content: space-between;
}

.category h5 {
    background-color: #613181;
    border-radius: 20px;
    color: white;
    padding: 10px;
    font-size: 18px;
}

.sale__img img{
    width: 1340px;
    height: 400px;
}

.recommended {
    margin: 10px;
}

.recommended__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.course__card {
    width: 250px;
    padding: 10px;
}

.course__card img {
    width: 100%;
    height: 50%;
}

.course__card del {
    padding: 5px;
}

.topic {
    padding: 10px;
}

.topic__desc {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.topic__desc h5 {
    border: black solid 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular{padding: 10px;}
.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.footer {
    background-color: black;
    color: white;
}

.footer__title {
    display: flex;
    margin: 10px;
}

.footer__one,
.footer__two,
.footer__three {
    padding: 20px;
}

.footer__title h5 {
    margin: 20px;
}
.footer__desc{margin: 20px;
padding: 20px;
padding-bottom: 30px;
display: flex;
justify-content: space-between;}